:root {
  --font-family: "Roboto", sans-serif;
  --navbar-bg-color: #333;
  --navbar-link-color: #fff;
  --navbar-link-hover-bg-color: #555;
  --footer-bg-color: #333;
  --footer-text-color: #fff;
  --footer-link-hover-color: #007bff;
  --transition-duration: 0.3s;
}

/* Estilos generales */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--navbar-bg-color);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
}

.navbar .logo {
  float: left;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: var(--navbar-link-color);
}

.navbar .logo h1 {
  margin: 0;
  font-size: 20px;
}

.navbar .logo h1 span {
  color: #ff7f00;
}

.navbar .nav-links {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar .nav-links li {
  float: left;
}

.navbar .nav-links li a {
  display: block;
  color: var(--navbar-link-color);
  text-align: center;
  padding: 20px;
  text-decoration: none;
  transition: background-color var(--transition-duration);
}

.navbar .nav-links li a:hover {
  background-color: var(--navbar-link-hover-bg-color);
}

.menu-toggle {
  display: none; /* Ocultar por defecto en pantallas grandes */
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: var(--navbar-link-color);
  margin: 5px 0;
  transition: 0.4s;
}

@media screen and (max-width: 600px) {
  .navbar .nav-links {
    display: none; /* Oculta el menú por defecto */
    width: 100%;
    text-align: center;
  }

  .navbar .nav-links.active {
    display: block; /* Muestra el menú cuando está activo */
  }

  .navbar .nav-links.active li {
    float: none;
    display: block;
  }

  .menu-toggle {
    display: block; /* Muestra el botón de menú en pantallas pequeñas */
    cursor: pointer;
    float: right;
    padding: 10px 20px;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* Estilos para el pie de página */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 40px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.social-links {
  margin-bottom: 20px; /* Espacio entre los enlaces sociales y el texto */
}

.social-links a {
  color: var(--footer-text-color);
  text-decoration: none;
  margin: 0 10px; /* Espaciado uniforme entre iconos */
  transition: color var(--transition-duration);
}

.social-links a:hover {
  color: var(--footer-link-hover-color);
}

.footer-info {
  margin-top: 20px;
}

.footer-info p {
  margin: 0;
  font-size: 16px;
  color: #dddddd;
  transition: color var(--transition-duration);
}

.footer-info p a:hover {
  color: var(--footer-link-hover-color);
}
